node_modules
essential-build-artifacts.zip
essential-build-artifacts
coverage
.idea
essential-build-artifacts-arm7.zip
essential-build-artifacts-arm7
.domerc.json

\.vscode/launch\.json

package-lock\.json
